NOTEBOOK_USER=admin
NOTEBOOK_PASSWORD=change-this-password
NOTEBOOK_SECRET=change-this-random-session-secret

GITHUB_OWNER=xerifg
GITHUB_REPO=xerifg.github.io
GITHUB_BRANCH=main
GITHUB_TOKEN=github_pat_xxx

PORT=8000
